Compliance with RFC 7797 and 8725

`README.md` mentions compliance with RFC 7519. This one has newer revisions: RFC 7797 and RFC 8725. Do you confirm `jwt-go` compliance with those? Thank you.